<div>
    <div class="swTable">
        <div class="swTable-row swTable-headerRow">
            <div class="swTable-headerCell"
                 ng-class="{'is-sorted': cell.isSorted,
                    'sortDirection--asc': cell.sortDirection == 'ASC',
                    'sortDirection--desc': cell.sortDirection == 'DESC',
                    'swTable-groupCell': cell.groupable}"
                 ng-repeat="cell in tableColumns"
                 ng-click="onSorted(cell)"
                 ng-include="cell.headerCellTemplate"
                 ng-style="{'width': cell.width + 'px'}">
            </div>
        </div>
        <div class="swTable-rowWrapper"
             ng-class="{'swTable-rowWrapper--expanded': row.toggle, 'swTable-rowWrapper--collapsed': !row.toggle}"
             ng-repeat="row in tableData.Records track by $index">
            <div class="swTable-row">
                <div class="swTable-cell" ng-repeat="cell in tableColumns" ng-class="{'is-sorted': cell.isSorted, 'swTable-groupCell': cell.groupable}" ng-include="cell.cellTemplate">
                </div>
            </div>
            <div class="swTable-row swTable-ChildRow" ng-repeat="row in row.Children track by $index">
                <div class="swTable-cell" ng-repeat="cell in tableColumns" ng-class="{'is-sorted': cell.isSorted, 'swTable-groupCell': cell.groupable}" ng-include="cell.cellTemplate">
                </div>
            </div>
        </div>
    </div>
    <div class="swTable-tableFooter" ng-if="tableOptions.showLoadMore">
        <button type="button" class="swTable-loadMore" ng-click="onLoadMoreData()">Load More</button>
    </div>
</div>