.swTable {
  display: table;
  width: 100%;
  table-layout: fixed;
}
.swTable-rowWrapper {
  display: table-row-group;
}
.swTable-rowWrapper--expanded {
  .swTable-row {
    background-color: lightblue;
  }
  .swTable-ChildRow {
    display: table-row;
  }
}
.swTable-row {
  display: table-row;
}
.swTable-ChildRow {
  display: none;
}
.swTable-cell {
  display: table-cell;
  padding: 5px;
  border-bottom: solid 1px #EAEAEA;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  &.is-sorted {
    background-color: #FAFAFA;
  }
}
.swTable-headerCell {
  display: table-cell;
  padding: 5px;
  background-color: #354B63;
  color: #fff;
  font-weight: bold;
  &.is-sorted {
    background-color: #2D4159;
  }
}